.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background-color: #ca0d0d;
}

.left, .mid, .right {
  display: inline-flex;
}

.left, .right {
  padding: 0% 1%;
}

.left {
  flex-grow: 1;
}

.mid {
  flex-grow: 0;
  background-color: tan;
  padding: 1%;
  margin: auto 0%;
  float: right;
  min-height: 90vh;
  height: fit-content;
  flex-shrink:1;
}
.right {
  height: 100%;
  margin: auto 0%;
}

h3 {
  margin-top: 5vh;
  font-size: 120%;
}

button {
  vertical-align:middle; 
  display:inline-flex;
  padding: 1%;
  align-self: flex-start;
  white-space: nowrap;
  background-color: lemonchiffon;
  font-weight: bold;  
}

button.secondary {
  background-color: lightgray;
  color: #444;
}
button.secondary:hover {
  background-color: rgb(153,8,5);
  color: #DEDEDE;
}