.board {
  display:grid;
  grid-auto-flow: row;
  background-color: white;
  height: auto;
  width: auto;
  min-width: 45vw;
  min-height: 45vw;
}
.board > div {
  display: grid;
  grid-auto-flow: column;
}

.board > div > div {
  display: grid;
}