.gamePending {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
}

.gameActive > div {
  flex-direction: column;
  display: inline-flex;
}

.gamePending ul {
  list-style: none;
  list-style-type: none;
  
  margin: 1% auto;
  padding: 1% 2%;
}

.gamePending div {
  margin: 1%; 
}

.gamePending button:disabled {
  background-color: #CCCCCC;  
}
.gamePending button:disabled:hover {
  background-color: #CCCCCC;
  color: rgba(16, 16, 16, 0.3);
}

