.gameInfo {
  display: flex;
  justify-content:flex-start;
  flex-flow: row nowrap;
}

.gameInfo > span {
  color: #000000;
  display: inline-flex;
  flex: auto;
  margin: auto;
  padding: 1%;
 }
  
.gameInfo div {
  display: inline-flex;
}
.gameInfo button {
  text-align: center;
  height: 100%;
  padding: 2%;
  margin: 2%;
}
  
#gameInfoButton {
  margin: 2%;
}
  