.gameUnknown {
  display: flex;  
  flex-direction: column;
  justify-content: start;
  height: 100%
}

.gameInputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gameInputs span {
  display: inline-flex;
  margin: 0vh 0.5vw;
  font-size: 110%;
}
.gameInputs input {
  display:inline-flex;
  margin-left: 0.5vw;
  width: 12vw;
}
