
.playerActions  {
  margin: 2% 0%;
  display: flex;
  justify-content: space-between;
}

.playerActions > button {
  padding: 2%;
}

.playerActions > button:disabled {
  color: rgba(16,16,16,0.3);
  background-color:#b8d5f3;
}
