.square {
  border: medium solid white;
  min-width: 50px;
  min-height: 50px;
  background-color: #eeebde;
}

.tile {
  height: 90%;
  width: 90%;
  font-size: 2.5em;
  justify-content: center;
  background-color: #f3dbc3;
  margin: auto;
  transform: rotate(0deg);
}

.blank {
  color: #a0a0a0; 
}

.word3, .word2, .center2, .letter3, .letter2, .horizontal, .vertical {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.letter2 {
  background-color: #b8d5f3;
  background-position: 0% 0%;
}
.letter3 {
  background-color: #2886cf;
  background-position: 0% 20%;
}
.word2 {
  background-color: #f3bcc8;
  background-position: 0% 40%;
}
.word3 {
  background-color: #e34274;
  background-position: 0% 60%;
}
.center2 {
  background-color: #f3bcc8;
  background-position: 0% 80%;
}
.horizontal {
  background-position: 0% 100%;
}
.vertical {
  background-position: 0% 100%;
  transform: rotate(90deg);
}
.square:focus {
  outline-color: #42e132;
  outline-style: outset;
  outline-width: medium;
  z-index: 500;
}


.tile.new {
  animation: tile-hilight 6s;
}

.blank.tile.new {
  animation: blank-tile-hilight 6s;
}

@keyframes tile-hilight {
  0% {
    color: black;
  }
  10% {
    color: red;
  }
  30% {
    color: black;
  }
  40% {
    color: red;
  }
  60% {
    color: black;
  }
  80% {
    color: crimson;
  }
  100% {
    color: black;
  }
}

@keyframes blank-tile-hilight {
  0% {
    color: #a0a0a0;
  }
  10% {
    color: red;
  }
  30% {
    color: #a0a0a0;
  }
  40% {
    color: red;
  }
  60% {
    color: #a0a0a0;
  }
  80% {
    color: crimson;
  }
  100% {
    color: #a0a0a0;
  }
}

