.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background-color: #ca0d0d;
}

.left, .mid, .right {
  display: inline-flex;
  width: max-content;
  min-width:min-content;
  min-height:max-content;
}

.left, .right {
  padding: 0% 1%;
}
.left {
  margin: auto 0%;
}
.mid {
  margin: 2% 0%;
  flex-grow: 100;
  flex-direction: column;
}
.right {
  background-color: tan;
  padding: 1%;
  margin: 1% 0%;
  float: right;
  height: fit-content;
}
