.App {
  display: flex;
  text-align: center;
  width: 100%;
}

.left, .mid, .right {
  display: inline-flex;
  width: max-content;
  height: max-content;
  min-width:max-content;
  min-height:max-content;  
}

.left, .right {
  padding: 0% 2%;
}
.left {
  margin: auto 0%;
}
.mid {
  margin: 2% 0%;
  flex-grow: 100;
  flex-direction: column;
}
.right {
  float: right;
}
