.App {
  display: flex;
  text-align: center;
  width: 100%;
  overflow:hidden;
}

.left, .mid, .right {
  display: inline-flex;
  width: max-content;
  min-width:min-content;
  min-height:max-content;
  height: auto;  
}

.left, .right {
  padding: 0% 1%;
}
.left {
  margin: auto 0%;
}
.mid {
  margin: 2% 0%;
  flex-grow: 100;
  flex-direction: column;
}
.right {
  margin-top: 1%;
  float: right;
}
