.board {
  display:block;
  position:relative;
  background-color: white;
  height: fit-content;
  width: fit-content;
  max-width: fit-content;
  min-width: 50vw;
  min-height: 90vh;
}
table {
  display: inline-block;
  margin-left:auto; 
  margin-right:auto;
}
