.exchange {
  display: inline-block;
  border: 2px solid #990805;
  background-color: #990805;
  width: auto;
  min-height: 10vh;
  height: auto;
  justify-content: left;
  padding: 1% 1% 0% 1%;
  margin: 1% 1%;
}

.exchangeTile {
  display: inline-flex;
  float: left;
  border: 2px solid #cc0000;
  min-width: max-content;
  width:11.3%;
  justify-content: center;
  font-size: 4em;
  color: #cc0000;
  background-color: #e98f73;
  margin: 1% 1% 0% 1%;
  height: max-content;
}
