.letterDist {
  display: flex;
  flex-direction: column;
  padding: 4%;
  font-size: 1.2em;
  justify-items: center;
}

.letterDist > ul {
  list-style: none;
  border: 2px solid crimson;
  padding: 2% 2%;
  min-width: fit-content;
  text-align: left;
}
.letterDist ul > li > pre {
  padding: 0;
  margin: 2% 0%;
}