.rack {
  display: inline-block;
  border: 2px solid tan;
  background-color: #ecd8be;
  width: auto;
  height: max-content;
  justify-content: center;
  align-items: center;
  padding: 1% 2% 0% 2%;
  margin: 1% 3%;
}

.rackTile {
  display: inline-flex;
  float: left;
  border: 2px solid black;
  width:11.3%;
  height:11%;
  justify-content: center;
  font-size: 4em;
  background-color: #f3dbc3;
  color: #000000;
  margin: 1% 1% 0% 1%;
}

.rackTile.played {
  color: rgba(0, 0, 0, 0.1);
}